
#errorPage{
    justify-content: center;
    margin-top: 60px;
    text-align: center;
    min-height: 100%;
    h1{
        font-size: 140px;
        z-index: -1;
        color:white

    }
    h5{
        font-size: 16px;
    }
    h6{
        margin-top: 90px;
        font-size: 14px;
    }
    p{
        font-size: 10px;
    }
    .lolipop{
        height:20px
    }
}
