:root {
  --transition: all 500ms ease;
  --color-info: #17a2b8;
  --color-info-hover: #138496;
  --color-info-disable: #67c3d0;
  --color-dark: #343a40;
  --color-dark-hover: #23272b;
  --color-dark-disable: #7a7e83;
}
* {
  margin: 0;
  padding: 0;
  color: white;
}
a {
  text-decoration: none;
}
body {
  background-color: var(--color-dark-hover);
}
.loader {
  background-color: red;
}
/* @media (max-width: 400px) {
  
  h6{
    font-size: 3px;
  }
  h5{
    font-size: 10px;
  }
  h4{
    font-size: 10px;
  }
  h3{
    font-size: 10px;
  }
  h2{
    font-size: 10px;
  }
  h1{
    font-size: 10px;
  }
  
} */
