:root{
  --transition: all 400ms ease;
  --color-info: #17A2B8;
  --color-info-hover:#138496;
  --color-info-disable: #67C3D0;
  --color-dark:#343A40;
  --color-dark-hover: #23272B;
  --color-dark-disable: #7A7E83;
}
*{
  margin: 0;
  padding:0;
  color:white;
  
}
a{
  text-decoration: none;
}
body{
  background-color: var(--color-dark-hover);

}
