#home {
  padding-top: 150px;
  margin: 0 auto;
  .home-text {
    text-align: center;
  }
  .cards {
    margin: 70px auto;
    width: 70%;
    height: 200px;
    gap: 12%;

    .card {
      overflow: hidden;
      background-color: var(--color-info);
      border: 0;
      text-align: left;
      .icon {
        font-size: 24px;
        margin: 10px 0;
      }
    }
    .card:hover {
      transform: scale(1.1);
      transition: var(--transition);
    }
  }
  a {
    color: blue;
    padding: 0;
    margin: 0;
  }
  p{
    font-size: 15px;
  }
  h5{
    font-size: 23px;
    margin-bottom: 18px;
  }
  @media (max-width: 700px) {
    .cards {
      * {
        flex: auto !important;
      }
    }
  }
  .mystery{
    align-items: center;
    h1{
      font-size: 130px;
      position: absolute;
      top: 45%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  
}
