#home {
  padding-top: 150px;
  margin: 0 auto;
  justify-content: center;

  .home-text {
    text-align: center;
  }
  .homeContainer {
    margin: 70px auto;
    width: 70%;
    gap: 12%;
    text-align: center;
    display: flex;
    justify-content: center;
    .homeCard {
      display: block;
      overflow: hidden;
      background-color: var(--color-info);
      border: 0;
      text-align: center;
      padding: 10px 50px;
      border-radius: 40px;
      .icon {
        font-size: 18px;
        margin-right: 10px;
      }
    }
    
  }
  a {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 16px;
    width: 35%;

  }
  a:hover{
      transform: scale(1.1);
      transition: var(--transition);
  
  }
  p{
    font-size: 15px;
  }
  h5{
    font-size: 23px;
    margin-bottom: 18px;
  }
  h6{
    font-weight: lighter;
    font-size: 18px;
  }
  @media (max-width: 1000px) {
    .homeContainer {
      width: 90%;
    }
    a{
      width: 45%;
    }
    
  }
  @media (max-width: 700px) {
    h6{
      font-size: 14px;
    }
    .homeContainer {
      display: block;
      .homeCard{
        margin-top: 15px;
      }
    }
  }
}
